:root {
    --deep-color: #092327;
    --theme-color: #0B5351;
    --secondary-color: #00a9a5;
    --analogous-color: #4e8090;
    --analogous-light: #c0d6e7;
    --background-color: #f4f4f4;
    --a-color: #065de9;
    --a-visited-color: #544074;
    /* https://coolors.co/092327-0b5351-00a9a5-4e8098-90c2e7 */
}

* {    
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: var(--deep-color);
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel', serif;
}

header {
    background-color: var(--theme-color);  
    display: grid; 
    grid-template-columns: 2rem;
    grid-auto-columns: auto;
    grid-template-rows: 2rem;
    grid-auto-rows: auto;
    gap: 0.25rem;
    padding: 0.5rem;
}

body {
    background-color: white;
}

#topbanner {
    color: white;
    padding: 1rem;
    background-color: var(--secondary-color);
    margin: 0;
    display: none;    
}

#topbanner.show {
    display: block;
}

#hamburger {
    grid-row: 1/2;
    justify-self: right;
}

header picture {
    grid-row: 1/2;    
}

#chamberlogo {
    grid-row: 1/2;
    width: 2rem;       
}

#title {
    grid-row: 1/2;
    justify-self: center;
}

#social {
    grid-row: 1/2;
    justify-self: right;
}

#navmenu {
    grid-row: 1/2;
}

#currentdate {
    color: white;
    display: block;
    width: 100%;
    /*justify-self: center; */
    text-align: center;
    grid-row: 2/3;
    grid-column: 1/4;   
}



header h1, header h2 {
    margin: 0;    
    color: white;   
}

header h1 {
    font-size: 1rem;
}

header h2 {
    font-size: 0.5rem;
}

header button {
    border-color: rgba(0,0,0,0.2);
    background-color: white;
}

nav {
    margin: 0 auto;
    background-color: var(--theme-color);
    color: white;
}

nav ul li {
    list-style-type: none;
    display: block;
    padding: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 0.4rem; 
    flex: 1 1 auto; 
}

nav ul li a:hover {
    text-decoration: underline 0.3rem solid white;   
    
}

nav ul li a.activepage {
    text-decoration: underline 0.3rem solid var(--secondary-color);    
}

nav {display: none;}
nav.open {display: block;}

#hamburger {
    width: 2rem;
    height: 2rem;
    background-color: rgba(0,0,0,0.2);
    color: var(--background-color);
    font-size: 1rem;
    border: none;
}

#hamburger span:nth-child(1) {display: block;}
#hamburger span:nth-child(2) {display: none;}

#hamburger.open span:nth-child(1) {display: none;}
#hamburger.open span:nth-child(2) {display: block;}


main {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    margin: 0.5rem 0;
}


main.gallery {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;    
}


section {
    display: block;    
    background-color: var(--analogous-light);
    text-align: center;
    /*width: 100%;*/
    border: 1px solid var(--analogous-color);    
    
}

section div {
    margin: 0 1rem;
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.8);    
}

section picture img{
    display: block;
    width: 100%;
}

main.gallery section {
    padding: 1rem;
        
}

/* main.gallery section h2 {
    margin: 0.5rem 0;
} */





#weather {    
    position: relative;
    text-align: center;
    color: white;    
}



#weatherstats {
    position: absolute;
    top: 50%;
    left: 50%;    
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,0.5);
    border: 0px;
    color: white;
    padding: 2rem;
    margin: 0;
}

footer {
    background-color: var(--theme-color);
    color: white;
    text-align: center;   
    font-size: smaller;
    padding: 0.5rem;
}

footer picture img {
    width: 25vw;
}


footer img, footer div {
    margin: 1rem;
}

