* {
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'JetBrains Mono', Courier, monospace;
}

img {
    width: 100%;
}

a {
    color: #2c5045;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: #544074;
}

a:hover {
    background-color: #02b17c;
    color: white;
}

header, footer {
    margin: 1rem auto;
    background-color: #2c5045;
    color: white;
}


header picture {    
    display: inline-block;
}

header h1 {
    padding: 0 2rem;
    margin: 0 auto;
    font-family: Cinzel, 'Times New Roman', Serif;
}

main {
    padding: 1rem;
}

main ul {
    padding: 0 2rem;
}

main h2 {
    font-size: 1.5rem;
}

footer {    
    text-align: center;
    padding: 1rem;
}

.emphasis {
    font-weight: 700;
}

#modifiedDate {
    font-weight: 100;
}
